/* Universal Selector */

* {
    font-family: 'Trebuchet MS';
    margin: 0;
  }


  /* Navigation CSS */
    #navBar {
      display:flex;
      flex-direction: row;
      height: 100px;
      background-color:#323540;
    }

    #navBar h1 {
      display: flex;
      width: 25%;
      height: 25%;
      background-color: aquamarine;
      text-align:right;
      background-position: center;
      margin-top: auto;
      margin-bottom: auto;
      padding: 10px 10px 10px 30px;
    }

    #navigation {
      display: flex;
      width: 75%;
      align-items: center;
      justify-content: space-evenly;
    }

    #navigation a {
      display: flex;
      cursor: pointer;
      text-decoration: underline;
      color: aquamarine;
    }
    

/*Hero Image*/

  #heroimg {
    display: flex;
    height:150px;
    max-width:100%;
  }

/* Sections*/

.flex-container-1 {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.flex-container-2 {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.flex-container-3{
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
}



/*Section Formatting*/

#title-section {
  display:flex;
  text-align:center;
  justify-items: center;
  text-decoration: underline;
  color:#323540;
}

/* Section 2 My Work*/

#myworkGrid {
  display: grid;
  grid-template-rows: 200px 100px 100px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
  "surf-report surf-report"
  "led-wall calculator"
  ;

}

.myworkGridArea {
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content:end;

}

#surf-report {
  grid-area: surf-report;
  background-image: url("./assets/02-portfolio-4.jpg");
  border-width: 2px;
  border-color:aquamarine;
}

#led-wall {
  grid-area: led-wall;
  background-image: url("./assets/02-portfolio-1.jpg");

}

#calculator {
  grid-area: calculator;
  background-image: url("./assets/02-portfolio-2.jpg");
  border-width: 2px;
  border-color:aquamarine;
}

#pastel-puzzles {
  grid-area: pastel-puzzles;
  background-image: url("./assets/02-portfolio-3.jpg");
  border-width: 2px;
  border-color:aquamarine;
}

#run-buddy {
  grid-area: pastel-puzzles;
  background-image: url("./assets/02-run-buddy.jpg");
  border-width: 2px;
  border-color:aquamarine;
}

/* Footer */

.footer {
  display:flex;
  flex-direction: row;
  height: 100px;
  margin-top:auto;
  margin-bottom:auto;
  align-items: center;
  justify-content:space-evenly;
  background-color:#323540;
  color: white;
}

/*Responsive layout*/

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}