/* Universal Selector */

* {
    margin: 0;
    padding:0; 
    font-family: 'Trebuchet MS';
  }

  /* Nav Bar Styles */
    .flexbox-container-1 {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      background-color:#323540;
      height: 140px;
      width: 100%;
    }

    .flexbox-item-1 {
      display:flex;
      margin-top:auto;
      margin-bottom: auto;
      background-color:aquamarine;
      background-position: left;
      padding: 10px 10px 10px 50px;

    }

    .flexbox-item-2 {
      display: flex;
      width: 400px;
      margin: auto;
      text-decoration: underline;
      color:aquamarine;
      
    }
  img {
    display: block;
  }
  
/* Main Section Detail*/

.flexbox-container-2 {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: white;
  margin: 10px;
}

.flexbox-item-3 {
  display:flex;
  width: 224px;
  padding-right: 20px;
  justify-content: flex-end;
}

.flexbox-item-4 {
  display: flex;
  width: 493px;
  padding-left: 20px;
}

.flexbox-container-3 {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: white;
  margin: 10px;
}

.flexbox-item-5 {
  display:flex;
  width: 224px;
  padding-right: 20px;
  justify-content: flex-end;
}

.flexbox-item-6 {
  display: flex;
  width: 493px;
  padding-left: 20px;
}

.flexbox-container-4 {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: white;
  margin: 10px;
}

.flexbox-item-7 {
  display:flex;
  width: 224px;
  padding-right: 20px;
  justify-content: flex-end;
  border: #323540
}

.flexbox-item-8 {
  display: flex;
  width: 493px;
  padding-left: 20px;
}

/* Footer Detail */

.flexbox-container-5 {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#323540;
  color: white;
  height: 120px;
  width: 100%;

  }

  


   
  